{% extends 'base.html.twig' %}

{% block body %}

<div class="col-md-4">
	<div class="white-box">
		<div class="panel-body">
			<h5>Tratamiento : <span class="font-bold">{{persona.tratamiento}}</span></h5>
			<h5>Nombre : <span class="font-bold">{{persona.nombre}}</span></h5>
			<h5>Usuario : <span class="font-bold">{{persona.user.name}}</span></h5>
			<hr>
			<h5>Servicios lavanderia :<span class="font-bold" id="countLav">0</span></h5>
			<h5>Total lavanderia :<span class="font-bold" id="totalLav">0</span><span class="font-bold">$</span></h5>
			<hr>
			<h5>Servicios tienda :<span class="font-bold" id="countTienda">0</span></h5>
			<h5>Total Tienda :<span class="font-bold" id="totalTienda">0</span><span class="font-bold">$</span></h5>
			<hr>
			<h5>Servicios material roto :<span class="font-bold" id="countRoto">0</span></h5>
			<h5>Total material roto :<span class="font-bold" id="totalRoto">0</span><span class="font-bold">$</span></h5>
			<hr>
			<h3>Total Servicios : <span class="font-bold" id="totalServicios">0</span><span class="font-bold">$</span></h3>
		</div>
	</div>
</div>

<div class="col-md-8 ">
	<div class="white-box panel">
		<a class="btn btn-info right mb-3" href="{{ path ('detallesReserva_admin',{'id':reserva.id} )}}">Atras</a>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="font-bold">Servicios</h2>

				{% if app.user.rola == 'ADMIN' %}
				<label for="">Tipo</label>
				<select id="menu" class="form-control form-control-sm">
					<option value="">Seleccione un tipo de servicio</option>
					<option value="lavanderia">Lavanderia</option>
					<option value="tienda">Tienda</option>
					<option value="roto">Materia Roto</option>
				</select>
				<br>
				<label for="">Servicio</label>
				<select id="servicio" class="form-control form-control-sm">
				</select>
				<br>
				<a class="btn btn-info" id="vamonos" disabled="true">Agregar</a>
				<hr>
				{% endif %}

				<table class="myTable">
					<thead>
						<tr>
							<th>Tipo</th>
							<th>Servicio</th>
							<th>Costo</th>
							{% if app.user.rola == 'ADMIN' %}
							<th>Acciones</th>
							{% endif %}
						</tr>
					</thead>
					<tbody >
					</tbody>
				</table>

			</div>
		</div>
	</div>    
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset ('ample/bower_components/blockUI/jquery.blockUI.js')}}"></script>

<script >

var tabla = $('.myTable').DataTable({
	"ajax":{
		"url": '/api/getServicios',
		"type": "POST",
		"data": {
			persona:"{{persona.id}}",
			reserva:"{{reserva.id}}"
		}
	},
	'ordering':false,
});
tabla.on( 'xhr', function () {
	var json = tabla.ajax.json();
	console.log(json);
	var t =json.cantidades
	$('#countLav').text(t.cantidadLavanderia)
	$('#totalLav').text(t.totalLavanderia)
	$('#countTienda').text(t.cantidadTienda)
	$('#totalTienda').text(t.totalTienda)
	$('#countRoto').text(t.cantidadRoto)
	$('#totalRoto').text(t.totalRoto)
	$('#totalServicios').text(t.totalServicios)
	$('div.panel').unblock();
});


$('#blockbtn2').click(function() {
	$('div.panel').block({
		message: '<h3>Please Wait...</h3>',
		css: {
			border: '1px solid #fff'
		}
	});
});

$('#unblockbtn2').click(function() {
	$('div.panel').unblock();
});


var btnV = document.getElementById('vamonos');
$('#menu').change(function(){
	console.log($(this).val());
	$.ajax({
		type:'GET',
		url : '/servicios/ver/'+ $(this).val(),
		success: function(data){
			var d = JSON.parse(data);
			var infos ;
			infos = document.getElementById('servicio');
			infos.innerHTML = '' ;
			for(let e of d){
				var op = document.createElement('option');
				op.appendChild(document.createTextNode(e.servicio));
				op.value = e.id ;
				infos.appendChild(op);
			}
			btnV.removeAttribute('disabled');
		}
	});
});

btnV.addEventListener('click', event =>{
	$('div.panel').block({
		message: '<h3>Agregando Servicio...</h3>',
		css: {
			border: '1px solid #fff'
		}
	});

	$.ajax({
		type:'POST',
		data:JSON.stringify({
			'idUsuario' : '{{persona.id}}',
			'idServicio': $('#servicio').val(),
			'idReserva' : '{{reserva.id}}'
		}),
		url: '/api/serviciosUs/nuevo',
		success:function(data){
			console.log(data)
			tabla.ajax.reload(null,false);
		}

	});	
});

function deleteItem(item){
	$('div.panel').block({
		message: '<h3>Eliminando Servicio...</h3>',
		css: {
			border: '1px solid #fff'
		}
	});
	datos = "id="+item
	$.ajax({
		type:"POST",
		url:"{{path ('serviciosUsDelete')}}",
		data:datos,
		success:function(r){
			tabla.ajax.reload(null,false);
		}

	});
}


;
</script>
{% endblock %}