{% extends "::base.html.twig" %}
{% block title %}Mi Grupo{% endblock %}

{% block body %}
{% for flash_message in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flash_message }}
    </div>
{% endfor %}

	<div class="white-box">
		<a href="{{ path ('personas_new')}}" class="btn btn-success">Nuevo</a>
		<div class="panel-body">
			<table class="myTable">
				<thead>
					<tr>
						<th>Id</th>
						<th>Tratamiento</th>
						<th>Nombre</th>
						<th>Grupo</th>
						<th>fechaNacimiento</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for persona in personas %}
					<tr>
						<td>{{persona.id}}</td>
						<td>{{persona.tratamiento}}</td>
						<td>{{persona.nombre}}</td>
						<td>{{persona.grupo.nombre}}</td>
						<td>{{persona.fechaNacimiento|date('d-m-Y')}}</td>
						<td>
							<a href="{{ path ('personas_edit',{'id': persona.id})}}" class="btn btn-sm btn-warning">Editar</a>
							<a onclick="eliminar({{persona.id}})" class="btn btn-sm btn-danger">Eliminar</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Eliminar registro</h4>
      </div>
      <div class="modal-body">
        <p>Sguro que desea eliminar este registro ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      	<a href="" id="ruta" type="button" class="btn btn-danger">Eliminar</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block javascripts %}
<script>
$('.myTable').DataTable();

function eliminar(id){
	var ruta = `${id}/del`
	$('#ruta').attr('href',ruta);
	$('.modal').modal('toggle');
}


;
</script>
{% endblock %}
