{% extends "::base.html.twig" %}

{% block title %}AppBundle:Users:index{% endblock %}

{% block body %}
    <a href="/servicios">Atras</a>
<h1>Servicios</h1>
    <div class="tab-container">
        {{form_start(form)}}
            <div data-repeater-list="">
                <div data-repeater-item="">
                    
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            {{ form_row(form.tipo, {'value': 1 } ) }}
                            <!--input type="text" class="form-control" id="name" placeholder="Name"-->
                        </div>
                        <div class="form-group col-md-3">
                            {{form_row(form.servicio, { 'attr': {'value': datos.servicio  } })}}
                            <!--input type="text" class="form-control" id="name" placeholder="Name"-->
                        </div>
                        <div class="form-group col-md-3">
                            <!--input type="email" class="form-control" id="email" placeholder="Email"-->
                            {{form_row(form.costo, { 'attr': {'value': datos.costo  } })  }}
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <button data-repeater-create="" class="btn btn-info waves-effect waves-light">Editar
            </button>
        {{form_end(form)}}
      </div>
{% endblock %}
{% block javascripts %}
<script>
    var t = {{datos.tipo}}-1;
    document.getElementById('appbundle_Servicios_tipo').selectedIndex=t;
</script>
{% endblock %}
