{% extends "base.html.twig" %}

{% block body %}
<div class="col-md-8 col-md-offset-2">
	<div class="white-box">
		<h3 class="font-bold">Crear usuario</h3>
		<br>
		{{form_start(form)}}
		{{form_row(form.username)}}
		{{form_row(form.name)}}
		{{form_row(form.phone)}}
		{{form_row(form.plainPassword)}}
		<br>
		<div class="text-center">
			<button class="btn btn-primary">Crear</button>
		</div>
		{{form_end(form)}}
	</div>
</div>
{% endblock %}
