{% extends 'baseLogin.html.twig' %}

{% block body %}
<h3 class="box-title m-b-0">Registrar usuario</h3> <small>Ingrese sus datos</small>
<br><br>
	{{form_start(form)}}
	{{form_row(form.username)}}
	{{form_row(form.name)}}
	{{form_row(form.grupo)}}
	{{form_row(form.phone)}}
	{{form_row(form.plainPassword)}}
	<br>
	<div class="text-center">
		<button class="btn btn-primary">Registrar</button>
		<a href="{{ path ('login')}}" class="text-primary m-l-5">ya tengo cuenta</a>
	</div>
	{{form_end(form)}}
	{% endblock %}